body{
    margin:0;
    padding:0;
}   
.cicrle{
    background:palevioletred;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}   

.rectangle{
    background:orangered;
    height: 200px;
    width: 400px;
}
.oval
{
    background:crimson;
    width: 200px;
    height: 100px;
    border-radius: 100px/50px;
}
.triangle
{
    background-color: cyan;
    width: 0;
    height: 0;
    border-bottom: 200px solid indigo;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
}
.Up-Triangle {
    width: 0; 
    height: 0; 
    border-bottom: 120px solid green; 
    border-left: 60px solid transparent; 
    border-right: 60px solid transparent; 
 }
 .square{
    width: 200px;
    height: 200px;
   background:indianred;
}
.green{
      background: green;
      height: 200px;
      width: 400px;
      position: relative;
}
.red{
    height: 100px;
     width: 100px;
     background: red;
     border-radius: 50%; 
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;

    .trapezium{
          
         height: 100px;
         border-bottom: 200px solid indigo;
         border-left: 100px solid transparent;
         border-right: 100px solid transparent;
     }
